BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman
Standard: Cpp11
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: true
AlwaysBreakAfterReturnType: None
AlignAfterOpenBracket: Align
AlignOperands: true
AlignEscapedNewlines: Left
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true